body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
  }

  .navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.95rem;
	text-decoration: none;
	text-align: left;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

  
header {
    background: grey;
    padding: 2rem;
    grid-column: 1 / 4;
  } 
  
  .left-sidebar {
    background: lightgrey;
    grid-column: 2/2;
  }
  
  main {
    background: coral;
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: white;
    grid-column: 3/3;
  }
  
  footer {
    background: darkgrey;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }
  
