
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #81ADC8;
    --secondary-color: #000;
    --text-color: white;
    --padding-large: 3rem;
    --border-radius: 10px;
}


body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color)
}

.hero {
    height: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

} 

.hero picture, .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading {
    text-align: center;
    background-color: var(--primary-color);
    padding: 3rem;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
}

.blocks {
    position: absolute; 
}

.top, .bottom {
    position: absolute;
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 250px;
    text-align: center;
    z-index: 10;
}

.top {
    top: 20px;
    left: 400px;
}

.bottom {
    bottom: 50px;
    right: 400px;
}

footer {
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
}

.bottom h3::after {
    content: "";
    background: url('../images/sun-icon.svg') no-repeat center center/contain;
    display: inline-flex;
    width: 50px;
    height: 50px;
    

}

.blocks h2, .blocks h3 {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: black;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
}